<a href="https://colab.research.google.com/github/timcsmith/MIS536-Public/blob/master/Notebooks/Class02_4_Variable_Summary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Class 2: Part 4 - Variable Sumary/Descriptive Statistics


Author: Dr. T. Smith (timsmith@iastate.edu) (Fall, 2020)

A "statistic" is a summary. When we have many values in a variable, we may wish to utilize various statistics to describe and better understand the data.

## Load and do a quick clean of the data

In [ ]:
import pandas as pd # libarary for dataframes (and other)

In [ ]:
# Load data into dataframe
housing_df = pd.read_csv("https://github.com/timcsmith/MIS536-Public/raw/master/Data/WestRoxbury.csv")

In [ ]:
# quick look at the data
housing_df.head()

   TOTAL_VALUE   TAX  LOT_SQFT  YR_BUILT  ...  HALF_BATH  KITCHEN  FIREPLACE  REMODEL
0        344.2  4330      9965      1880  ...          1        1          0     None
1        412.6  5190      6590      1945  ...          1        1          0   Recent
2        330.1  4152      7500      1890  ...          1        1          0     None
3        498.6  6272     13773      1957  ...          1        1          1     None
4        331.5  4170      5000      1910  ...          0        1          0     None

[5 rows x 14 columns]

In [ ]:
# take a closer look at column names
housing_df.columns

Index(['TOTAL VALUE ', 'TAX', 'LOT SQFT ', 'YR BUILT', 'GROSS AREA ',
       'LIVING AREA', 'FLOORS ', 'ROOMS', 'BEDROOMS ', 'FULL BATH',
       'HALF BATH', 'KITCHEN', 'FIREPLACE', 'REMODEL'],
      dtype='object')

In [ ]:
# let's remove the blank spaces in column names
housing_df.columns = [s.strip().replace(' ','_') for s in housing_df.columns] # list comprehension, all columns

## Get the number of rows

In [ ]:
len(housing_df)

5802

## Get Number of Columns

In [ ]:
len(housing_df.columns)

14

## Mean (Average) of a column

In [ ]:
housing_df['TOTAL_VALUE'].mean()

392.6857149258885

## Standard Deviation

In [ ]:
housing_df['TOTAL_VALUE'].std()

99.17741420172284

## Min and Max

In [ ]:
housing_df.max()

TOTAL_VALUE    1217.8
TAX             15319
LOT_SQFT        46411
YR_BUILT         2011
GROSS_AREA       8154
LIVING_AREA      5289
FLOORS              3
ROOMS              14
BEDROOMS            9
FULL_BATH           5
HALF_BATH           3
KITCHEN             2
FIREPLACE           4
REMODEL        Recent
dtype: object

In [ ]:
housing_df['TOTAL_VALUE'].max()

1217.8

In [ ]:
housing_df['TOTAL_VALUE'].min()

105.0

## Quantile

In [ ]:
housing_df.quantile(0.5)

TOTAL_VALUE     375.9
TAX            4728.0
LOT_SQFT       5683.0
YR_BUILT       1935.0
GROSS_AREA     2700.0
LIVING_AREA    1548.5
FLOORS            2.0
ROOMS             7.0
BEDROOMS          3.0
FULL_BATH         1.0
HALF_BATH         1.0
KITCHEN           1.0
FIREPLACE         1.0
Name: 0.5, dtype: float64

In [ ]:
housing_df['ROOMS'].quantile(0) # note that this is same as min

3.0

In [ ]:
housing_df['ROOMS'].quantile(0.25)

6.0

In [ ]:
housing_df['ROOMS'].quantile(0.50)

7.0

In [ ]:
housing_df['ROOMS'].quantile(0.75)

8.0

In [ ]:
housing_df['ROOMS'].quantile(1.0) # note that this is the same as Max

14.0

## Data summary

In [ ]:
housing_df.describe()

       TOTAL_VALUE           TAX  ...     KITCHEN    FIREPLACE
count  5802.000000   5802.000000  ...  5802.00000  5802.000000
mean    392.685715   4939.485867  ...     1.01534     0.739917
std      99.177414   1247.649118  ...     0.12291     0.565108
min     105.000000   1320.000000  ...     1.00000     0.000000
25%     325.125000   4089.500000  ...     1.00000     0.000000
50%     375.900000   4728.000000  ...     1.00000     1.000000
75%     438.775000   5519.500000  ...     1.00000     1.000000
max    1217.800000  15319.000000  ...     2.00000     4.000000

[8 rows x 13 columns]

In [ ]:
housing_df[['TAX']].describe()

                TAX
count   5802.000000
mean    4939.485867
std     1247.649118
min     1320.000000
25%     4089.500000
50%     4728.000000
75%     5519.500000
max    15319.000000